h1{color: crimson;}
#id1 {background-color: blueviolet;}
.class1 {color: darkorange;}
a {background-color: blue;}
.class2.class3 {color: rgb(185, 101, 80);}
.class2.class3 p {background-color: deeppink;}
.class6 {border: 5px solid purple; background-color: darkseagreen;}
.class6 { padding-top: 100px;bottom: 100px;right: 150px;padding-left: 50px;;}
.class6 {margin-top: 100px;margin-bottom: 50px;margin-right: 150px;margin-left: 200;}
.class3 {margin: 100px 150px 600 px 200px;padding: 100px 40px 60px 140px;}
a:link {color: brown;} /* změna barvy když tam odkazprostě je*/
a:visited {color: blue;} /* když odkaz navštívímě*/
a:hover {color: chartreuse;} /* když po odkazu přejedem myší*/
a:active {color: blueviolet;} /* když na něj klikáme*/
a {text-decoration: none;}
ul {list-style-type: none; margin: 0px;padding: 0px;} /* určuje co za odrážky bude u položek seznamu*/
li {display: inline; margin: 20px;padding: 20px; border: 5px solid black;} /*z položek bude inline element*/
a {display: block;} /* inline elementům nejde nastavovat margin a padding*/
.firstcontainer {margin-bottom: 100px;}
.lala {background-color: deeppink; width: 150px; height: 200px; overflow: scroll;} /* overflow hidden schová text co se nevzleze do prvku,scroll udělá posouvací element*/