
/*
h1{color: crimson;}
#id1 {background-color: blueviolet;}
.class1 {color: darkorange;}
a {background-color: blue;}
.class2.class3 {color: rgb(185, 101, 80);}
.class2.class3 p {background-color: deeppink;}
.class6 {border: 5px solid purple; background-color: darkseagreen;}
.class6 { padding-top: 100px;bottom: 100px;right: 150px;padding-left: 50px;;}
.class6 {margin-top: 100px;margin-bottom: 50px;margin-right: 150px;margin-left: 200;}
.class3 {margin: 100px 150px 600 px 200px;padding: 100px 40px 60px 140px;}
a:link {color: brown;} 
a:visited {color: blue;} 
a:hover {color: chartreuse;} 
a:active {color: blueviolet;} 
a {text-decoration: none;}
ul {list-style-type: none; margin: 0px;padding: 0px;} 
li {display: inline; margin: 20px;padding: 20px; border: 5px solid black;} 
a {display: block;} 
.firstcontainer {margin-bottom: 100px;}
.lala {background-color: deeppink; width: 150px; height: 200px; overflow: hidden;} 
.box {border: 5px solid blue;}
.box {width: 20%; float: left;} 
*/
* {margin: 0px;}
ul {list-style-type: none; background-color: darkgrey;overflow: hidden;}
li {float: left; padding: 30px;}
a {color: antiquewhite; font-size: 30px; text-decoration: none;}
.dropdown-content {display: none;}
li:hover {background-color: blueviolet; }